{% load static %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->

  <head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>محمد طاها سعیدی </title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
    <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />

    <!-- script
    ================================================== -->
    <script src="{% static 'home/js/modernizr.js'%}"></script>
    <script src="{% static 'home/js/pace.min.js'%}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'home/js/plugins.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          AOS.init();
        });
      </script>

    <!-- favicons
    ================================================== -->
    <link
      rel="shortcut icon"
      href="{% static 'home/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'home/favicon.ico' %}"
      type="image/x-icon"
    />
  </head>

  <body id="top">
    <!-- header
    ================================================== -->
    <header class="s-header">
      <div class="header-logo">

      </div>

      <nav class="header-nav-wrap">
        <ul class="header-nav">
          <li class="current">
            <a class="smoothscroll" href="#home" title="home">Home</a>
          </li>
          <li><a class="smoothscroll" href="#about" title="about">About</a></li>
          <li><a class="smoothscroll" href="#works" title="works">Works</a></li>
          <li>
            <a class="smoothscroll" href="#contact" title="contact">Contact</a>
          </li>
        </ul>
      </nav>

      <a class="header-menu-toggle" href="#0"><span>Menu</span></a>
    </header>
    <!-- end s-header -->

    <!-- home
   ================================================== -->
    <section
      id="home"
      class="s-home page-hero target-section"
      data-parallax="scroll"
      data-natural-width="3000"
      data-natural-height="2000"
      data-position-y="center"
    >
      <div class="overlay"></div>
      <div class="shadow-overlay"></div>

      <div class="home-content">
        <div class="row home-content__main">
          <h3>درباه من</h3>

          <h1 data-aos="fade-right" data-aos-delay="300"data-aos="fade-right" data-aos-delay="300">
            محمد طاها سعیدی هستم<br />
            برنامه نویس جونیور <br />
            جنگو و بک اند
          </h1>

          <div class="home-content__buttons">
            <a href="#works" class="smoothscroll btn btn--stroke"> پروژه ها </a>
            <a href="#about" class="smoothscroll btn btn--stroke"> من </a>
          </div>

          <div class="home-content__scroll">
            <a href="#about" class="scroll-link smoothscroll">
              <span>بریم پایین</span>
            </a>
          </div>
        </div>
      </div>
      <!-- end home-content -->

      <ul class="home-social"data-aos="fade-up" data-aos-delay="300">
        <li>
          <a href="#"
            ><i class="im im-twitter" aria-hidden="true"></i
            ><span>Twiiter</span></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/its.mahd1_"
            ><i class="im im-instagram" aria-hidden="true"></i
            ><span>Instagram</span></a
          >
        </li>

        </li>
        <li>
          <a href="https://www.linkedin.com/in/mohammad-mahdi-ghafarpour-6372b7200?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
            ><i class="im im-LinkedIn" aria-hidden="false"></i
            ><span>LinkedIn</span></a
          >
        </li>
      </ul>
      <!-- end home-social -->
    </section>
    <!-- end s-home -->

    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
      <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center" data-aos="fade-up" data-aos-delay="300">
          <h3>About</h3>
          <h1>درباره من</h1>
          <p class="lead">
            من محمد  طاها سعیدی هستم، متولد 1386. برنامه نویس پایتون و جنگو هستم و علاقه زیادی به توسعه وب و برنامه‌نویسی بک‌اند , و هوش مصنوعی دارم. 
            هدف من ایجاد وب‌سایت‌ها و برنامه‌های کاربردی با کیفیت بالا و کاربرپسند است.
          </p>
        </div>
      </div>

      <div class="row about-content"  data-aos="fade-up" data-aos-delay="300">
        <div class="col-six tab-full left RTL"style="direction: rtl;">
          <h3>درباره من</h3>

          <p>
            من محمد طاها سعیدی هستم، متولد 1386 و ساکن یزد. دانش آموز رشته  کامپیوتر هستم و علاقه زیادی به برنامه‌نویسی و توسعه وب دارم. 
            علاوه بر مهارت در جنگو و بک‌اند، تجربه ساخت ربات‌های تلگرامی   پروژه های بینایی ماشیئن و علاقه به امنیت شبکه نیز دارم.
          </p>

          <p>
            همچنین در زمینه وردپرس و طراحی سایت با استفاده از آن مهارت دارم و به طور کلی با فرانت‌اند  نیز آشنایی دارم. 
            هدف من ایجاد وب‌سایت‌ها و برنامه‌های کاربردی با کیفیت بالا و کاربرپسند است که نیازهای کارفرما را به بهترین شکل ممکن برآورده کند.
          </p>
        </div>

        <div class="col-six tab-full right"  data-aos="fade-up" data-aos-delay="100">
          <h3>مهارتام</h3>

          <ul class="skill-bars"> 
            <li>
              <div id="progress90" class="progress percent" data-percent="90"><span>90%</span></div>
              <strong>python</strong>
            </li>
            <li>
              <div class="progress percent"data-percent="85"><span>85%</span></div>
              <strong>Django</strong>
            </li>
            <li>
              <div class="progress percent"data-percent="70"><span>70%</span></div>
              <strong>SQL</strong>
            </li>
            
            <li>
              <div class="progress percent"data-percent="75"><span>75%</span></div>
              <strong>Wordpress</strong>
            </li>
            <li>
              <div class="progress percent"data-percent="90"><span>90%</span></div>
              <strong>HTML CSS JS</strong>
            </li>
          </ul>
        </div>
      </div>
      <script>
            function animateProgressBars() {
                document.querySelectorAll(".percent").forEach(bar => {
                    let target = parseInt(bar.getAttribute("data-percent"));
                    let progressText = bar.querySelector("span");
                    let width = 0;
                    let interval = setInterval(() => {
                        if (width >= target) {
                            clearInterval(interval);
                        } else {
                            width++;
                            bar.style.width = width + "%";
                            progressText.textContent = width + "%";
                        }
                    }, 20);
                });
            }
            // اجرای انیمیشن بعد از رسیدن مخاطب به بخش مهارت‌ها
            document.addEventListener("scroll", function () {
                var aboutSection = document.getElementById("about");
                var rect = aboutSection.getBoundingClientRect();
            
                if (rect.top < window.innerHeight && !aboutSection.classList.contains("animated")) {
                    animateProgressBars(); // اجرای انیمیشن
                    aboutSection.classList.add("animated"); // جلوگیری از اجرا شدن دوباره
                }
            });
        </script>       
        <!-- end about-content -->


      <div class="row about-content about-content--timeline">
        <div class="col-full text-center">
          <h3>سوابق کاری</h3>
        </div>

        {% comment %} <div class="col-six tab-full left">
          <div class="timeline">
            <div class="timeline__block">
              <div class="timeline__bullet"></div>
              <div class="timeline__header">
            <p class="timeline__timeframe">1402 - 1403</p>
            <h3>کافه نقطه</h3>
            <h5>پشتیبانی سایت و مسئول تولید محتوا</h5>
              </div>
              <div class="timeline__desc">
            <p>
              در این مدت مسئولیت پشتیبانی سایت و تولید محتوای کافه نقطه را بر عهده داشتم. همچنین چندین بات تلگرامی برای این مجموعه طراحی و پیاده‌سازی کردم.
            </p>
              </div>
            </div>
            <!-- end timeline__block -->
          </div>
          <!-- end timeline -->
        </div>
        <!-- end left --> {% endcomment %}

        <div class="col-six tab-full right" data-aos="fade-up" data-aos-delay="100">
          <div class="timeline">
            <div class="timeline__block">
              <div class="timeline__bullet"></div>
              <div class="timeline__header">
            <p class="timeline__timeframe">1403 - Present</p>
            <h3>جونیور برنامه نویس</h3>
            <h5>به دنبال کارآموزی</h5>
              </div>
              <div class="timeline__desc">
            <p>
              به عنوان یک برنامه نویس جونیور، به دنبال فرصت‌های کارآموزی برای کسب تجربه و یادگیری بیشتر در زمینه برنامه‌نویسی و توسعه وب هستم.
            </p>
              </div>
            </div>
            <!-- end timeline__block -->
          </div>
          <!-- end timeline -->
        </div>
        <!-- end right -->
          </div>
          <!-- end about-content timeline -->
        </section>
        <!-- end about -->

    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">
      <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
          <h3></h3>
          <h1> Projects.</h1>

          <p class="lead">
           
          </p>
        </div>
      </div>

      <div class="row masonry-wrap">
        <div class="masonry">
          <!-- start for-->
        <div class="walled">
        {%for pro in projects %}
          <div class="project">
            <a href={{pro.url}}>
              <p>{{pro.title}}</p>
            </a>
          </div>
        {%endfor%}
        </div>
          <!-- END for-->
          
        </div>
      </div>
              
    
              
              

    </section>
    <!-- end works -->

  


   
    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">
      <div class="overlay"></div>

      <div class="row narrow section-intro">
        <div class="col-full">
          <h3>Contact</h3>
          <h1>ارسال پبام.</h1>

        </div>
      </div>

      <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
          <form name="contactForm" id="contactForm" method="post" action="">{% csrf_token %}
            <fieldset>
              <div class="form-field">
                <input
                  name="contactName"
                  type="text"
                  id="contactName"
                  placeholder="Name"
                  value=""
                  minlength="2"
                  required=""
                  aria-required="true"
                  class="full-width"
                />
              </div>
              <div class="form-field">
                <input
                  name="contactEmail"
                  type="email"
                  id="contactEmail"
                  placeholder="Email"
                  value=""
                  required=""
                  aria-required="true"
                  class="full-width"
                />
              </div>
              <div class="form-field">
                <input
                  name="contactSubject"
                  type="text"
                  id="contactSubject"
                  placeholder="Subject"
                  value=""
                  class="full-width"
                />
              </div>
              <div class="form-field">
                <textarea
                  name="contactMessage"
                  id="contactMessage"
                  placeholder="message"
                  rows="10"
                  cols="50"
                  required=""
                  aria-required="true"
                  class="full-width"
                ></textarea>
              </div>
              <div class="form-field">
                <button class="full-width btn--primary">Submit</button>
                <div class="submit-loader">
                  <div class="text-loader">Sending...</div>
                  <div class="s-loader">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>

          <!-- contact-warning -->
          <div class="message-warning">
            Something went wrong. Please try again.
          </div>

          <!-- contact-success -->
          <div class="message-success">
            Your message was sent, thank you!<br />
          </div>
        </div>
        <div class="col-four tab-full contact__infos">
          <h4 class="h06">Email</h4>
          <p>
            m.t.saeidi86@gmail.com<br />
          </p>


        </div>
      </div>
    </section>
    <!-- end s-contact -->

    <!-- footer
    ================================================== -->
    <footer>
      <div class="row">
        <div class="col-full">
          <div class="footer-logo">

          </div>

          <ul class="footer-social">
            <li>
              <a
              href="https://github.com/taha-king86"
              >
                <i class="im im-LinkedIn" aria-hidden="true"></i>
                <span>LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="#0">
                <i class="im im-twitter" aria-hidden="true"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a href="https://google.com">
                <i class="im im-instagram" aria-hidden="true"></i>
                <span>Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row footer-bottom">
        <div class="col-twelve">
          <div class="copyright">
            <span>© Copyright</span>
            <span>Design by <a href="#">Mohammad Taha Saeidi</a></span>
          </div>

          <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"
              ><i class="im im-arrow-up" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- end footer-bottom -->
    </footer>
    <!-- end footer -->

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button
              class="pswp__button pswp__button--close"
              title="Close (Esc)"
            ></button>
            <button
              class="pswp__button pswp__button--share"
              title="Share"
            ></button>
            <button
              class="pswp__button pswp__button--fs"
              title="Toggle fullscreen"
            ></button>
            <button
              class="pswp__button pswp__button--zoom"
              title="Zoom in/out"
            ></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
          >
            <div class="pswp__share-tooltip"></div>
          </div>
          <button
            class="pswp__button pswp__button--arrow--left"
            title="Previous (arrow left)"
          ></button>
          <button
            class="pswp__button pswp__button--arrow--right"
            title="Next (arrow right)"
          ></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end photoSwipe background -->

    <!-- Java Script
    ================================================== -->
    <script src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'home/js/plugins.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
  </body>
</html>
